.animate-node {
  transition: all 1s linear;
}
.fade-enter {
  display: none;
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition-delay: 5s;
  transition: opacity 500ms linear;
}
.fade-enter-done {
  opacity: 1;
  display: block !important;
}

.fade-exit {
  display: block;
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}
.fade-exit-done {
  opacity: 0;
  display: none;
}

.card-content {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.card-wrap > .card-content:nth-child(2) {
  animation-delay: 1s;
}
.card-wrap > .card-content:nth-child(3) {
  animation-delay: 1.5s;
}
.card-wrap > .card-content:nth-child(4) {
  animation-delay: 2s;
}
.card-wrap > .card-content:nth-child(5) {
  animation-delay: 2.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    transform: translateY(startYposition);
  }
  100% {
    opacity: 1;
    transform: translateY(endYposition);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  display: inline-block;
  transform-box: fill-box;
  transform-origin: center;
  animation: spinning 4s linear infinite;
}
