//Get rid of scroll bar.
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

h1,
h4,
h5 {
  font-family: $font-family-title;
}

h1 {
  @include media-breakpoint-up(xl) {
    font-size: 3rem;
  }
  @include media-breakpoint-up(xxl) {
  }
}

.navbar-brand {
  & > img {
    padding: 0.75rem 1rem;
    width: 150px;
    @include media-breakpoint-up(xxl) {
      padding: 0.5rem 0.75rem;
    }
  }
}

.navbar-nav {
  .nav-link {
    font-family: $font-family-title;
    &:hover {
      color: #fff !important;
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.5rem;
  }
}

.login-failed {
  color: red;
}

input {
  text-transform: none;
  font-family: lato;
}

section.address-section {
  min-height: 100vh;
  display: flex;
  .card-columns {
    @include media-breakpoint-up(md) {
      column-count: 2;
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
    }
  }
  label {
    margin: 0;
  }

  div.location-wrap {
    padding: 120px 24px 20px 24px;
  }
  div.address-search {
    padding: 120px 24px 20px 24px;
    h1 {
      font-size: 4rem;
      margin-bottom: 32px;
    }
    h1 {
      color: #fff;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 8rem;
    }
  }
  div.address-search.no-result {
    padding: 200px 24px;
    h1 {
      font-size: 6rem;
    }
  }
}

.main-panel {
  flex: 65%;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: $rice-white;
  background-repeat: no-repeat;
  background-image: url(../images/back2-blue.jpg);
}
.side-panel {
  flex: 35%;
  position: sticky;
  top: 0;
  max-height: 105vh;
}

footer.as-footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: $nav-bg;
  color: $gray-400;
  p {
    margin-bottom: 0;
  }
}

.as-footer > .container {
  text-align: center;
}

.result-item {
  padding-top: 16px;
  p {
    margin: 0.8rem 0;
    color: #888;
  }
}

.flex-center-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-status {
  font-family: $font-family-title;
  h5 {
    color: #aaa;
    font-size: 0.8rem;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

.card-title {
  font-family: $font-family-title;
  margin: 0;
  font-size: 0.8rem;
  color: #aaa;
}

.card-product-list {
  height: 152px;
  // Remove it after the tab view
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: auto;
  }
  &:hover {
    overflow: auto;
  }
  // Remove it after the tab view
}

.product-item {
  background: #eee;
  font-size: 0.9rem;
  color: $darker-blue;
  font-weight: bold;
}

.card-toggle {
  height: 24px;
}

.status-area {
  bottom: 20px;
  right: 20px;
  position: absolute;
  padding: 4px 12px;
  font-family: $font-family-title;
  font-size: 1.2rem;
  span {
    margin-left: 4px;
  }
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.map-marker {
  animation: slideIn 6s linear forwards;
}
