.site-login,
.site-login > .container-fluid,
.site-login > .container-fluid > .row,
.login-panel-left,
.login-panel-right {
  height: 100%;
}

.login-panel-left {
  height: 100vh;
  background: url('/images/back-blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .logo-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    font-family: $font-family-title;
    font-size: 12px;
    text-align: center;
    > div {
      width: 100%;
    }
    img {
      width: 80%;
      margin-bottom: 3rem;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
      @include media-breakpoint-up(xl) {
        width: 70%;
      }
      @include media-breakpoint-up(xxl) {
        width: 50%;
      }
    }
  }
}

.login-heading {
  width: 50%;
  margin: 0 auto;
}

#loginform-username {
  background-color: transparent;
}

#login-form {
  width: 50%;
  margin: 0 auto;
  label,
  button {
    font-size: 1.4rem;
  }
  input {
    background: transparent;
  }
}

.login-panel-left .col-md-4 {
  margin-left: -30px;
}

.login-panel-left h1 {
  color: #fff;
  margin-top: -20px;
}

.login-panel-right {
  height: 100vh;
  background: url('/images/orange-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 16px;
    font-family: $font-family-title;
  }
}

.transparent-panel label {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.transparent-panel .checkbox label {
  padding-left: 20px;
}

.transparent-panel input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.site-login .form-control {
  color: #fff;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
}

.site-login .has-success .form-control {
  border-color: #00324a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.site-login .has-error .form-control {
  border-color: #00324a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.site-login .has-success .control-label {
  color: #00324a;
}

.site-login .has-error .control-label {
  color: #00324a;
}

.site-login .has-error .help-block {
  color: #00324a;
  font-weight: bold;
}

.site-login .login-panel-right button {
  margin-top: 25px;
}

.reset-area {
  margin: 10px 0;
}

.login-heading > h1 {
  padding: 40px 0;
}

.site-login .btn {
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 18px;
}

.site-login .btn-primary {
  color: #fff;
  background-color: #00324a;
  border-color: #00324a;
}

.site-login a {
  color: #00324a;
}

.bottom-bar {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.site-login .login-timeout-msg {
  font-weight: bold;
  font-size: 18px;
  color: #eee;
  margin-top: -25px;
  padding-bottom: 25px;
}
