.rbt-menu {
  margin-bottom: 2px;
}

.rbt-menu > li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbt-menu > li a:focus {
  outline: none;
}

.rbt-menu-pagination-option {
  text-align: center;
}

.rbt .rbt-input-main::-ms-clear {
  display: none;
}

.rbt-close {
  z-index: 1;
}

.rbt-close-lg {
  font-size: 24px;
}

.rbt-token {
  background-color: #e7f4ff;
  border: 0;
  border-radius: 2px;
  color: #1f8dd6;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 4px 7px;
  position: relative;
}

.rbt-token-disabled {
  background-color: #ddd;
  color: #888;
  pointer-events: none;
}

.rbt-token-removeable {
  cursor: pointer;
  padding-right: 21px;
}

.rbt-token-active {
  background-color: #1f8dd6;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.rbt-token .rbt-token-remove-button {
  bottom: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  opacity: 1;
  outline: none;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: -2px;
}

.rbt-loader {
  -moz-animation: loader-animation 600ms infinite linear;
  -webkit-animation: loader-animation 600ms infinite linear;
  animation: loader-animation 600ms infinite linear;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  border-top-color: #1f8dd6;
  display: block;
  height: 16px;
  width: 16px;
}

.rbt-loader-lg {
  height: 20px;
  width: 20px;
}

.rbt-aux {
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
  pointer-events: none;
  /* Don't block clicks on the input */
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.rbt-aux-lg {
  width: 46px;
}

.rbt-aux .rbt-close {
  margin-top: -4px;
  pointer-events: auto;
  /* Override pointer-events: none; above */
}

.has-aux .rbt-input {
  padding-right: 34px;
}

.rbt-highlight-text {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0;
}

/* Input Groups */
.input-group > .rbt {
  flex: 1;
}

.input-group > .rbt .rbt-input-hint,
.input-group > .rbt .rbt-aux {
  z-index: 5;
}

.input-group > .rbt:not(:first-child) .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .rbt:not(:last-child) .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes loader-animation {
  to {
    transform: rotate(1turn);
  }
}

.rbt-token {
  margin: 1px 3px 2px 0;
}

.rbt-input-main {
  background: #f0f0f0;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}
.rbt-input-hint {
  width: 100%;
}
.rbt-input-hint,
.rbt-input-main {
  height: 3rem;
  @include media-breakpoint-up(xxl) {
    font-size: 1.5rem;
    height: 4rem;
  }
}
ul.rbt-menu.dropdown-menu {
  max-height: 260px;
  margin-top: 8px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1) !important;
  padding: 0;
  .dropdown-item {
    padding: 12px;
    &:hover {
      background: #eee;
    }
  }
  li:not(:last-child) {
    border-bottom: 2px solid #eee;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.5rem;
  }
}
.search-bar {
  position: relative;
}

button.btn-clear {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  color: $darker-blue;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #888;
    svg path {
      transform-box: fill-box;
      transform-origin: center;
      animation: rotate 0.5s linear forwards;
    }
  }
  @include media-breakpoint-up(xxl) {
    top: 14px;
    right: 14px;
  }
}

.rbt-input-hint-container > input {
  border-color: #fff;
}
