//Font
@font-face {
  font-family: 'Prohibition';
  src: url('/font/Prohibition.otf') format('opentype');
}
@font-face {
  font-family: 'Lato';
  src: url('/font/Lato.otf') format('opentype');
}
$font-family-devoli: -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-sans-serif: Lato, $font-family-devoli;
$font-family-title: Prohibition, $font-family-devoli;

//Devoli Color
$blue: #006696;
$rice-white: #e7e3d8;
$dark-blue: darken($blue, 10%);
$darker-blue: darken($blue, 15%);
$body-bg: $rice-white;

//Primary Color
$primary: $blue;
$dark: $darker-blue;

//Background
$nav-bg: url(/images/back-blue.jpg) repeat center center fixed;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
